
body { 
	font-family: Alef;
	background-color: lightyellow;
}


.section2 {
	background-color: white;
	border: 5px solid black;
	padding: 20px;
	margin: 5px;
	width: 93%;
}
.section3 {
	background-color: white;
	border: 10px solid red;
	padding: 20px;
	margin: 5px;
	width: 35%;
}

#pageTitle {
	color: orange;
	text-align: center;
	background-color: white;
	padding: 15px;
}

#pageHeader {
	background-color: black;
	margin: 20px;
	font-size: 15px ;
	font-weight: italics;
}

#pageHeader2 {
	margin: 15px;
	font-size: 25px; 

}

a:hover { 
color: red; 
}

a { 
color: orange;
}

p1 { 
	font-size: 72 px; 
	font-weight: bold; 
	font-family: papyrus; 
	color: black; 
}










